* {
		overflow-x: hidden;
	}
	body {
		display: none;
	}
header {
	width: 100%;
	height: 100px;
	background-color: #1C86EE;
}
.lista {
	float: left;
	width: 20%;
	height: 800px;
	border-right: 1px solid #E5E5E5;
}
.chat {
	width: 80%;
	float: right;
	height: 800px;
	
}
footer {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: gray;
}
ul {
	width: 100%;
	padding: 0px;
}
ul li {
	display: block;
	padding: 30px 0px 30px 50px;
	text-align: left;

	border-bottom: 1px solid #E5E5E5;
}
ul li:hover {
	cursor: pointer;
	background-color: #E5E5E5;
}
.status {
	width: 10px;
	height: 10px;
	border: 1px solid;
	border-radius: 50px;
	margin-right: 5px;
	display: inline-block;
}
.on {
	background-color: #00EE00;
}
.off {
	background-color: #ABABAB;
}
.logo {
	float: left;
	width: 20%;
	text-align: left;
}
.logo-item {
	font-size: 60pt;
	color: white;
	font-weight: bold;
	padding-left: 40px;			

}
.logout-session {
	width: 20%;
	float: right;
	margin: 40px 0px;
	height: 100px;
	text-align: left;
}
.user-name {
	color: white;
	padding: 40px;
}
a {
	cursor: pointer;
}
.messages {
	width: 80%;
	height: 740px;
}